
@media(max-width:1320px){
    .container{
      max-width: 1200px;
    }
    .navbar_container{
        max-width: 1300px;
    }
    .message_img_top{
        position: absolute;
        left: -150px;
        top: -50px;
        z-index: 1;
      }
      .message_img_bottom{
        position: absolute;
        right: -250px;
        bottom: -160px;
        z-index: 1;
      }
      /* .mission_img{
        position: absolute;
        right: 20px;
        bottom: 30px;
      } */
  
}
@media(max-width:1220px){
    .container{
      max-width: 1100px;
    }
    .navbar_container{
        max-width: 1200px;
    }
    /* .mission_img{
        position: absolute;
        right: 0px;
        bottom: 30px;
      } */
   
}
@media(max-width:1120px){
    .container{
      max-width: 1000px;
    }
    .navbar_container{
        max-width: 1100px;
    }
    .hero_item{
        width: 48%;
        margin-bottom: 50px;
    }
    .hero_list{
        display: flex;
        flex-wrap: wrap;
    }
    .hero_box{
        right: 35%;
    }
    .framer{
        padding-top: 750px;
    }
    .framer_item{
        width: 300px;
    }
}
@media(max-width:1020px){
    /* .container{
      max-width: 96%;
    } */
    .framer_list{
        flex-wrap: wrap;
        justify-content: center;
    }
    .framer_item{
        width: 330px;
        margin: 30px;
    }
    .message_list{
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        gap: 30px;
    }
    .about_name{
        font-size: 40px;
    }
    .about_text{
        font-size: 24px;
        line-height: 35px;
    }
    .about_img{
        height: 390px;
    }
    .join-text{
        max-width: 190px;
    }
    .price-row{
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
    

}
@media(max-width:920px){
    /* .container{
      max-width: 95.6%;
    } */
    .navbar_container{
        max-width: 800px;
    }
    .framer_item{
        margin-bottom: 30px;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    .message{
        padding-top: 100px;
    }
    .message_img_top{
        position: absolute;
        left: -200px;
        top: -100px;
        z-index: 1;
      }
    .about{
        padding-top: 70px;
    }
    .statistic_container{
        padding-left: 0;
        padding-right: 0;
    }
    .statistic_list{
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }
    .statistic_title{
        margin-bottom: 20px;
    }
    .statistic_item{
        width: 47%;
    }
    .info_wrap{
        width: 100%;
    }
    .info_list{
        flex-direction: column;
    }
    .meeting-text{
        font-size: 18px;
    }
    .meeting-text b{
        font-size: 18px;
        line-height: 26px;
    }
    .join-text{
        max-width: 160px;
        font-size: 16px;
    }

}
@media(max-width:820px){
    /* .container{
      max-width: 700px;
    } */
    .navbar_container{
        max-width: 700px;
    }
    .navbar_nav{
        display: none;
    }
    .navbar_link_phone{
        display: none;
    }
    .navbar_bar{
        display: block;
    }
    .header_title{
        font-size: 100px;
        line-height: 100px;
        max-width: 100%;
    }
    .header_text{
        font-size: 20px;
        font-weight: 400;
        line-height: 25px;
        max-width: 100%;
    }
    .navbar_img{
        width: 74.6px;
        height: 52.4px;
    }
    .about_wrap{
        flex-direction: column-reverse;
        width: 100%;
    }
    .about_img{
        width: 100%;
        height: 450px;
        margin-bottom: 25px;
    }
    .about_name{
        margin-bottom: 20px;
    }
    .about_left{
        width: 100%;
    }
    .mission_wrap{
        padding-right: 100px;
        padding-top: 30px;
    }
    .section_item{
        width: 100%;
    }
    .section{
        padding-top: 50px;
    }
    .meeting-item{
        max-width: 100%;
    }
    .meeting{
        padding-top: 40px;
        padding-bottom: 50px;
    }
    .meeting-list{
        padding-top: 30px;
    }
    .members-item{
        width: 300px;
        height: 300px;
    }
    .members-img{
        width: 270px;
        height: 200px;
    }
    .contact-list{
        flex-direction: column;
        align-items: start;
    }
    .message_img_top{
        position: absolute;
        bottom: 64px;
        left: -190px;
        width: 250px;
        height: 398px;
      }
      .message_img_bottom{
        position: absolute;
        top: 64px;
        right: -190px;
        width: 250px;
        height: 398px;
       
      }
    hr{
        width: 100%;
        height: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .contact-item{
        align-items: start;
    }
    .contact-subtitle{
        padding-right: 7px;
    }
    

}
@media(max-width:720px){
    /* .container{
      max-width: 600px;
    } */
    /* .navbar_container{
        max-width: 600px;
    } */
    .hero_item{
        width: 80%;
    }
    .hero_list{
        justify-content: center;
    }
    .main{
        padding-bottom: 0;
    }
    .hero{
        background: transparent;
        top: 700px;
    }
    .header{
        padding-top: 80px;
    }
    .framer{
        padding-top: 1200px;
    }
    .message_title{
        max-width: 100%;
    }
    input{
        width: 100%;
    }
    .message_item{
        width: 100%;
    }
    .message_btn{
        margin: 0 auto;
    }
    .statistic_item{
        width: 100%;
    }
    .mission_wrap{
        padding-right: 100px;
        padding-top: 30px;
        height: 290px;
    }
    .mission_text{
        font-size: 35px;
        line-height: 405x;
    }
    /* .mission_img{
        bottom: -30px;
    } */
    .join-list{
        flex-direction: column;
        height: auto;
    }
    .join-text{
        max-width: 100%;
        text-align: center;
    }
    .join-item{
        text-align: center;
    }
    .join-next-img{
        transform: rotate(90deg);
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .members-list{
        flex-direction: column;
        justify-content: center;
    }
    .members{
        padding-top: 25px;
    }
    .members-title{
        margin-bottom: 30px;
    }
    .contact-title{
        font-size: 28px;
        line-height: 28px;
    }
    .contact-title span{
        font-size: 24px;
        line-height: 28px;
    }
    .contact-container{
        padding: 15px;
    }
    .contact-list{
        padding: 20px 40px;
    }
    .footer-container{
        flex-direction: column;
        gap: 40px;
    }
    .footer{
        padding-top: 10px;
    }

}
@media(max-width:620px){
    /* .container{
      max-width: 500px;
    }
    .navbar_container{
        max-width: 500px;
    } */
    .header_title{
        font-size: 60px;
        line-height: 60px;
        font-weight: 600;
    }
    .header_text{
        font-size: 16px;
    }
    .hero{
        top: 600px;
    }
    .framer{
        padding-top: 1100px;
    }
    .framer_list{
        padding-top: 40px;
    }
    .message{
        padding-top: 50px;
    }
    .message_title{
        max-width: 100%;
        font-size: 36px;
        line-height: 40px;
    }
    .about_img{
        height: 400px;
    }
    .mission_wrap{
        padding: 30px 20px;
    }
    /* .mission_img{
        bottom: -40px;
    } */
    .section_name{
        font-size: 40px;
        line-height: 45px;
        padding: 0;
    }
    .section_img{
        width: 80px;
        height: 80px;
    }
    .price-name{
        font-size: 40px;
    }
    .price-title{
        padding-top: 0;
    }

}
@media(max-width:520px){
    /* .container{
      max-width: 400px;
    }
    .navbar_container{
        max-width: 400px;
    } */
    .header_title{
        font-size: 50px;
        line-height: 50px;
        font-weight: 600;
    }
    .hero_box{
        right: 30%;
    }
    .hero_item{
        height: 235px;
    }
    .hero_title{
        font-size: 26px;
    }
    .framer_title{
        font-size: 26px;
    }
    .hero_text{
        font-size: 18px;
    }
    .framer{
        padding-top: 1050px;
    }
    .framer_list{
        padding-top: 30px;
    }
    .about_title{
        font-size: 26px;
    }
    .about_img{
        height: 350px;
    }
    .about_name{
        font-size: 35px;
    }
    .about_text{
        font-size: 18px;
        line-height: 24px;
    }
    .statistic_title{
        font-size: 26px;
    }
    .number{
        font-size: 50px;
        line-height: 55px;
    }
    .statistic{
        padding-top: 40px;
    }
    .mission_img{
        width: 120px;
        height: 120px;
        right: -30px;
        top: 90px;
    }
    .mission_wrap{
        padding: 30px 20px;
        width: 100%;
        height: 190px;

    }
    .mission_text{
        font-size: 24px;
        line-height: 34px;
    }

    .info_title{
        font-size: 26px;
    }
    .info_item{
        height: 180px;
        padding: 20px;
    }
    .info_text{
        font-size: 16px;
        padding-left: 25px;
    }
    .info_number{
        font-size: 80px;
    }
    .section_text{
        font-size: 18px;
    }
    .section_title{
        font-size: 26px;
    }
    .meeting-title{
        font-size: 26px;
    }
    .join-title{
        font-size: 26px;
    }
    .price-title{
        font-size: 26px;
    }
    .price-money{
        font-size: 90px;
    }
}
@media(max-width:420px){
    /* .container{
      max-width: 100%;
    }
    .navbar_container{
        max-width: 100%;
    } */
    .navbar{
        padding: 30px 0px 15px 0px;
    }
    .header_link{
        width: 240px;
        height: 58px;
        font-size: 16px;
    }
    .hero_item{
        width: 100%;
        height: 190px;
    }
    .hero_box{
        width: 90px;
        height: 90px;
        border-radius: 20px;
        right: 35%;
    }
    .hero_img_1{
        width: 63px;
        height: 63px;
        margin-top: 18.5px;
      }
      .hero_img{
        width: 49px;
        height: 49px;
        margin-top: 25.5px;
      }
      .hero_text{
        padding-top: 80px;
      }
      .framer{
        padding-top: 900px;
    }
    .message_img_top{
        position: absolute;
        left: -250px;
        top: -100px;
        z-index: 1;
      }
      .message_title{
        font-size: 30px;
      }
      .about_img{
        height: 300px;
      }
      .mission_wrap{
        height: auto;
        padding: 30px;
      }
      .mission{
        padding-top: 0;
      }
      .mission_img{
        width: 120px;
        height: 120px;
        right: -30px;
        top: 150px;
    }
      .info_item{
        height: 220px;
        padding: 20px;
    }
    .info_text{
        padding-left: 20px;
    }
    .meeting-text{
        font-size: 16px;
        line-height: 22px;
    }
    .meeting-text b{
        font-size: 16px;
        line-height: 22px;
    }
    .meeting{
        padding-top: 0;
        padding-bottom: 20px;
    }
    .meeting-img{
        width: 50px;
        height: 50px;
    }
    .join{
        padding-top: 20px;
    }
    .price-col-1,.price-col-2,.price-col-3{
        width: 100%;
    }
    .members-item{
        height: 310px;
    }



}